/build/
/Examen1/nbproject/private/
/Examen1/build/
/Practica2/ClienteObjeto/build/
/Practica2/ClienteObjeto/nbproject/private/
/Practica2/ServidorObjetos/build/
/Practica2/ServidorObjetos/nbproject/private/
/TFTP/nbproject/private/
/TFTP/build/
/DNS/nbproject/private/
/DNS/build/
/Unidad4Hilos/nbproject/private/
/Unidad4Hilos/build/